<a href="https://colab.research.google.com/github/Shikher-jain/PYTHON-Projects/blob/master/FakeDataGenerator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# @title
from faker import Faker
import pandas as pd

# Initialize Faker
fake = Faker()

# Ask user for number of entries
n = int(input("Enter number of records: "))

# Create a list to hold dictionaries
data_list = []

for _ in range(n):
    record = {
        'Name': fake.name(),
        'Email': fake.email(),
        'Address': fake.address(),
        'Phone': fake.phone_number()
    }
    data_list.append(record)

# Convert list of dictionaries to a DataFrame
df = pd.DataFrame(data_list)

# Display the DataFrame
print(df)

# Optional: save to
# df.to_csv("fake_data.csv", index=False)

Enter number of records: 34
                     Name                        Email  \
0      Christopher Mclean     matthewellis@example.org
1   Mrs. Kathryn Adams MD  robertmaldonado@example.com
2          Michelle Parks      michaelhill@example.net
3             Anthony Cox     watsonjoshua@example.net
4         Stacy Carpenter       hicksjulia@example.net
5        Matthew Mitchell  phillipsannette@example.com
6           Jessica Brown     tuckerbrenda@example.net
7         Joshua Schaefer    williamgolden@example.com
8            Paige Garcia   kellykatherine@example.net
9            Amber Wright   darrylgonzalez@example.org
10           Robert Hogan     cookjonathan@example.com
11             Kathy Cook  davidsonmatthew@example.org
12               Kim Wood        william37@example.com
13        Brooke Campbell  williamsjeffrey@example.com
14            Lori Flores     debraparsons@example.com
15           Kara Salinas      alexandra89@example.org
16      Cristian Calderon          wendy23@example.com
17              Tammy Lee          diana41@example.net
18        Donald Mitchell            zvega@example.com
19            Diana Klein          james36@example.org
20    Timothy Blankenship  jeffreygarrison@example.com
21            Cory Conner   tammiecaldwell@example.com
22         Randall Parker           lisa61@example.net
23             Paige Wood   hannahmarshall@example.com
24          Jennifer Webb          gnorman@example.org
25         Bradley Fuller            bbell@example.net
26          Amanda Carter         joseph49@example.org
27         John Whitehead   walkernicholas@example.com
28             Lisa Patel       chernandez@example.com
29        Robert Espinoza           john00@example.net
30       Brandon Robinson            hball@example.org
31    Dr. Robyn Hernandez       bennettamy@example.com
32           Danny Taylor          qbranch@example.net
33       Christina Rhodes       danielle00@example.com

                                              Address                   Phone
0   2610 Mann Turnpike Apt. 233\nLake Jeremymouth,...        879.512.7858x419
1                    PSC 3733, Box 7133\nAPO AP 83121        266-918-9892x456
2   057 Stacy Meadows Suite 741\nMillerview, TN 44547            655.746.7057
3        4099 Rosales Prairie\nPetersonland, ID 09500       380-838-7999x7333
4         3395 Jackson Walks\nCastroborough, OK 16848        001-547-519-0207
5                 382 Jason Ville\nEmmafurt, MD 25644       274.613.4577x2799
6                    PSC 8269, Box 0838\nAPO AE 69802   +1-791-550-1903x52344
7   601 Trevor Rue Suite 011\nNorth Sheilabury, NJ...      (596)350-8780x3298
8               226 Maria Road\nAbigailbury, KY 99127    +1-788-516-6368x7847
9      6180 Johnson Coves\nLake Rachelshire, AZ 80550            455-862-7053
10        1850 Lisa Rue Suite 501\nAmyville, AS 02985  001-519-262-7799x38424
11  1498 Blackwell Centers Suite 742\nNorth Donald...      243.481.9023x78649
12             403 Wilkerson Pine\nLisaland, NE 99805            705-345-2134
13      37730 Rebecca Fall\nLake Nicolebury, GU 67307            860.402.4171
14    525 Griffin Forges\nPort Brandonmouth, ND 50784           (326)219-9575
15           683 Kelly Vista\nDavidsonville, MO 33345       (711)321-0136x181
16  56728 Howell Circles Suite 900\nSouth Johnfurt...   +1-781-422-9838x14858
17  29006 Bonilla Port Suite 707\nKennedytown, MP ...     (210)662-0631x30857
18             20915 Bruce Burgs\nHornetown, RI 26053            630-249-1067
19  84330 Wright Mount Suite 788\nSouth John, ND 2...   001-513-207-1016x3961
20  92079 Wright View Apt. 299\nDeborahshire, CT 7...       (872)655-1401x786
21              585 Shelby Lakes\nNew Haley, GU 51904  001-884-391-8935x39156
22  472 Nicholas Stravenue\nWest Katieshire, WY 62195        767-415-9465x549
23                         USCGC Garcia\nFPO AA 76550        001-856-925-2135
24      12526 Melinda Rapids\nKristinahaven, NH 98912           (612)636-5130
25  9891 Williams Parkways Apt. 067\nSouth Kylefur...      (681)222-8546x0245
26        536 Trevor Flat\nSouth Dianahaven, FM 49036        239.743.8545x118
27  7519 Matthew Tunnel Suite 725\nNorth Tylerview...       (748)518-1807x975
28  69291 Abbott Harbor Suite 782\nOlsonview, DE 1...            590-856-2222
29  7746 Elizabeth Fall Suite 222\nBurnettborough,...              2593080713
30             851 Terrell Roads\nPort Paul, MD 52080      (727)330-5284x7652
31                   Unit 4592 Box 1008\nDPO AE 36402       765-336-6382x8252
32              095 Hampton Radial\nKimside, TX 13362            320-884-5230
33                   PSC 6984, Box 6620\nAPO AP 49950     (945)821-9146x96925

In [ ]:
# @title

In [ ]:
!pip install faker